   .wrapper-header .container {
       position: relative;
   }
   
   .wrapper-header .container .card-header {
       display: flex;
       position: absolute;
       z-index: 100;
       width: 100%;
       padding: 10px;
       background-color: unset;
       border: none;
   }
   
   .wrapper-header .container .card-header .rounded {
       width: 15%;
   }
   
   .wrapper-header .container .card-header .navi {
       position: absolute;
       left: 35%;
       top: 20%;
   }
   
   .wrapper-header .container .card-header .navi ul li {
       padding-right: 5px;
   }
   
   .wrapper-header .container .card-header .navi .navbar-nav .nav-link {
       color: white;
   }
   
   .wrapper-header .container .card-header .icon {
       line-height: 70px;
       position: absolute;
       left: 87%;
   }
   
   .wrapper-header .container .card-header .icon img {
       padding-right: 10px;
   }
   
   .wrapper-banner {
       background-color: #b49a77;
   }
   
   .wrapper-banner .container {
       position: relative;
   }
   
   .wrapper-banner .container .banner {
       display: flex;
       width: 100%;
       background-color: #b49a77;
   }
   
   .wrapper-banner .container .banner #carousel {
       width: 50%;
       position: relative;
   }
   
   .wrapper-banner .container .banner .rounded {
       width: 50%;
   }
   
   .wrapper-banner .container .banner .rounded #best {
       position: absolute;
       color: white;
       font-size: 100px;
       bottom: 50%;
       left: 45%;
   }
   
   .wrapper-banner .container .banner #carousel .carousel {
       position: absolute;
       bottom: 10%;
       display: flex;
       width: 100%;
   }
   
   .wrapper-banner .container .banner .carousel .carousel-inner .carousel-item .carousel-caption {
       text-align: left;
       padding: 0;
       left: 47%;
       right: 0;
   }
   
   .wrapper-banner .container .banner .carousel #next {
       color: white;
       font-size: 75px;
       position: absolute;
       left: 45%;
       bottom: 30%;
   }
   
   .wrapper-banner .container .banner .carousel .carousel-control-prev {
       left: 60%;
       bottom: 35%;
   }
   
   .wrapper-banner .container .banner .carousel .carousel-control-next {
       right: 15%;
       bottom: 35%;
   }
   
   .wrapper-banner .container .banner .carousel .carousel-indicators {
       bottom: 0;
       top: 105%;
       margin: 0;
   }
   
   .wrapper-banner .container .banner .carousel .carousel-indicators li {
       border-radius: 50%;
       width: 10px;
       height: 10px;
   }
   
   .wrapper-banner .container .banner .carousel .carousel-item .carousel-caption p {
       margin-bottom: 0;
   }
   
   .wrapper-banner .container .banner #carousel .img-right {
       position: absolute;
       left: 72%;
       top: 10%;
   }